@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
}
html,body{
	overflow-x:hidden;
}
body {
  width: fit-content;
  min-width: 100%; /* because the content might only be a few words */
  box-sizing: border-box; /* because 100% + padding > 100% */
	font-family: 'Roboto', sans-serif;
  color: #33322E;
  background: #fff;
}

.container{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.header{
	width: 100%;
	position: relative;
}
.hero-wrap{
	padding: 24px;
}



.content{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.content .text-data{
  width: 48%;
}

.text-data p{
  font-size: 22px;
  padding: 18px 0;
  line-height: 140%;
  width: 80%;
  margin: 0;
}

.text-data h1{
  font-size: 64px;
  margin-bottom: 16px;
  margin-top: 40px;
  letter-spacing: -1.8px;
  font-weight: 900;
  line-height: 64px;
}

.content .screenshot{
  width: 50%;
  display: flex;
  align-items: center;
}

.screenshot img{
  width: 100%;
}

.btns{
  margin-top: 20px;
	display: flex;
	align-items: center;
}

.btns .ph{
	display: inline-block;
	margin-left: 18px;
	line-height: 0;
}

.btns .ph a{
	display: inline-block;
	line-height: 0;
}

.btns .ph img{
}

.download{
  display: inline-block;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 20px;
	line-height: 22px;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
}

.download img{
  height: 16px;
  margin-left: 4px;
}

.download.fill{
  background-color: #33322e;
  color: #fff;
}

.download.outline{
  margin-left: 24px;
	padding: 14px 32px;
  background-color: #ffffff;
  border: 2px solid #33322e;
  color: #33322e;
}

.footer{
  margin-top: 10px;
  padding: 32px 0;
}

.footer p{
  font-size: 18px;
  align-items: center;
  vertical-align: middle;
}

.footer p a img{
  height: 16px;
  padding-top: 2px;
}

.footer p a{
  color: #33322e;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}

.header{
	width: 100%;
}

nav{

}

.navbar{
	display: flex;
	margin-top: 32px;
	padding: 24px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}


.logo{

}

.logo a img{
	max-height: 70px;
}

.social{
	display: flex;
}

.social .tw{
	width: auto;
	margin-right: 24px;
}


.saying{
	background: #F9F3E5;
	margin-top: 40px;
}

.mas{
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 600px;
	padding-top: 32px;
}

.mas .mas-brick {
	width: 33.3%;
	transition: .8s opacity;
}

.mas-brick .brick-wrap{
	background: #ffffff;
	margin: 24px;
	padding: 24px;
	border-radius: 16px;
}

.brick-wrap p{
	font-size: 18px;
	line-height: 28px;
}

.brick-wrap .info{
	display: flex;
	align-items: center;
	vertical-align: middle;
	margin-top: 32px;
}

.brick-wrap .info h4{
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}

.brick-wrap .info img{
	width: 40px;
	height: 40px;
}


footer{
	background: #33322E;
	padding: 24px;
}

.credit-f{
	color: #fff;
	padding: 24px;
}

.credit-f p{
	font-size: 18px;
	display: flex;
	vertical-align: middle;
	font-weight: 300;
	line-height: 24px;
}

.credit-f a{
	color: #fff;
	text-decoration: none;
	margin-left: 8px;
	font-weight: 600;
	font-size: 18px;
	display: inline-block;
}

.credit-f a:hover{
	opacity: .8;
}

.credit-f p a img{
	filter: invert(100%);
	height: 24px;
	margin-left: 12px;
}

@media(max-width: 480px){

  .container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column-reverse;
		padding: 0;
		margin-top: 0;
  }

	.logo a img{
	  height: 200px;
	}

  .content .text-data{
    width: 100%!important;
  }

  .text-data p{
    font-size: 22px;
    padding: 18px 0;
    width: 100%;
    margin: 0;
  }

  .text-data h1{
    font-size: 52px;
    margin-bottom: 16px;
    margin-top: 12px;
    letter-spacing: -1.8px;
    font-weight: 800;
    line-height: 64px;
  }

  .content .screenshot{
    width: 100%!important;
    display: flex;
    align-items: center;
  }

  .screenshot img{
    width: 100%;
    margin-top: 0px;
  }

	.btns{
	  margin-top: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.btns .ph{
		margin-top: 32px;
	}

  .download{
    /* width: 80%; */
  }

  .download.outline{
    margin-left: 0;
    background-color: #ffffff;
    color: #33322e;
    margin-top: 24px;
  }
	nav{

	}

	.navbar{
		display: flex;
		margin-top: 0;
		padding: 24px;
		align-items: center;
		flex-direction: column-reverse;
		justify-content: space-between;

	}


	.logo{

	}

	.logo a img{
		max-height: 70px;
	}

	.social{
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
		margin-bottom: 24px;
	}

	.social .tw{
		display: block;
		margin: 0;
	}

	.tw a{
		display: block;
		margin-top: 12
	}

	.ph{
		width: 100%;
		margin-top: 14px;
	}


}

.credit{
	margin-top: 48px;
}

.credit a{
	color: #33322e;
	font-weight: 700;
	text-decoration: none;
}
