@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
}
html,body{
	overflow-x:hidden;
}
body {
  width: fit-content;
  min-width: 100%; /* because the content might only be a few words */
  box-sizing: border-box; /* because 100% + padding > 100% */
	font-family: 'Roboto', sans-serif;
  color: #33322E;
  background: #fff;
}

.container{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.header{
	width: 100%;
	position: relative;
}
.hero-wrap{
	padding: 24px;
}

.logo{
  margin-top: 64px;
}

.logo a img{
  height: 300px;
}

.content{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.content .text-data{
  width: 48%;
}

.text-data p{
  font-size: 22px;
  padding: 18px 0;
  line-height: 130%;
  width: 90%;
  margin: 0;
}

.text-data h1{
  font-size: 60px;
  margin-bottom: 16px;
  margin-top: 40px;
  letter-spacing: -1.8px;
  font-weight: 800;
  line-height: 64px;
}

.content .screenshot{
  width: 50%;
  display: flex;
  align-items: center;
}

.screenshot img{
  width: 100%;
  margin-top: 80px;
}

.btns{
  margin-top: 50px;
	display: flex;
	align-items: center;
}

.btns .ph{
	display: inline-block;
	margin-left: 18px;
}

.btns .ph img{
}

.download{
  display: inline-block;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 20px;
	line-height: 20px;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
}

.download img{
  height: 16px;
  margin-left: 4px;
}

.download.fill{
  background-color: #33322e;
  border: 2px solid #33322e;
  color: #fff;
}

.download.outline{
  margin-left: 24px;
  background-color: #ffffff;
  border: 2px solid #33322e;
  color: #33322e;
}

.footer{
  margin-top: 10px;
  padding: 32px 0;
}

.footer p{
  font-size: 18px;
  align-items: center;
  vertical-align: middle;
}

.footer p a img{
  height: 16px;
  padding-top: 2px;
}

.footer p a{
  color: #33322e;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}

.header{
	width: 100%;
}
@media(max-width: 480px){

  .container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
		padding: 0;

  }

  .content .text-data{
    width: 100%!important;
  }

  .text-data p{
    font-size: 22px;
    padding: 18px 0;
    width: 100%;
    margin: 0;
  }

  .text-data h1{
    font-size: 54px;
    margin-bottom: 16px;
    margin-top: 50px;
    letter-spacing: -1.8px;
    font-weight: 800;
    line-height: 64px;
  }

  .content .screenshot{
    width: 100%!important;
    display: flex;
    align-items: center;
  }

  .screenshot img{
    width: 100%;
    margin-top: 40px;
  }

	.btns{
	  margin-top: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.btns .ph{
		margin-top: 32px;
	}

  .download{
    width: 80%;
  }
  .download.outline{
    margin-left: 0;
    background-color: #ffffff;
    border: 2px solid #33322e;
    color: #33322e;
    margin-top: 24px;
  }

}

.credit{
	margin-top: 48px;
}

.credit a{
	color: #33322e;
	font-weight: 700;
	text-decoration: none;
}
